/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----page-design----*/
body{
    font-family: 'Open Sans', sans-serif;
    background: url(../media/bg-intro-desktop.png) center center repeat, #E77477;
    padding: 80px 0;
}
main{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
article{
    width: 45%;
    padding: 16px 48px;
}
form{
    width: 45%;
    padding: 16px;
}
h1{
    font-size: 48px;
    color: #FEFAFB;
    font-weight: 700;
    margin: 32px 0;
}
article p{
    color: #FEFAFB;
    line-height: 1.5;
    font-weight: 700;
    word-spacing: 6px;

}
.offer{
    text-align: center;
    width: 100%;
    background: #5D54A3;
    padding: 24px 0;
    border-radius: 8px;
    margin-bottom: 24px;
}
.offer p{
    color: #FDF9FF;
}
.bold{
    font-weight: 700;
}
fieldset{
    width: 88%;
    padding: 32px;
    background: #FFFFFF;
    border-radius: 8px;
}
.form-control{
    display: block;
    width: 90%;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 8px;
    border: 1px solid #77767B;
    font-weight: 700;
}
button{
    width: 100%;
    background: #73CD8A;
    padding: 24px;
    border-radius: 8px;
    color: #FEFAFB;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    margin-bottom: 24px;
}
fieldset p{
    font-size: 12px;
    text-align: center;
    color: #8c8b8f;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #E87C7F;
    font-weight: 700;
}